
.camera-icon {
  height: 30px;
  width: 30px;
  color: white;
}
.outer {
  width: 120%  !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  margin: -3px -18px;
  border-radius: 100%;
  position: relative;
  background-size: 150px 150px;
  color: #232D39;

}
.inner {
  background-color: #075E54;
  width: 39px;
  height: 38px;
  border-radius: 100%;
  position: absolute;
  top: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 107px;
  padding: 7px;

}
.container {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;

}
.upload_image{
  width: 120% !important;
  height: 100% !important;
  max-width: 150px !important; /* any size */
  max-height: 150px !important; /* any size */
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.profile_card{
  padding: 30px;
}
.submit_btn{
  margin-top: 20px;
}

.content_card{
background-color:#D6DCE2;
}







